<body id="zozotown">
  <div id="wrapper">
    <header></header>
    <div class="nav-bar">
      <ul class="clearfix">
        <li><a href="root">zozotown</a></li>
        <li> >人気アイテムランキング</li>
      </ul>
    </div>
      <div id="body" class="clearfix">
        <div class="content">
          <article>
            <section id="rankingResult">
              <div class="clearfix" id="contentHeader">
                <div class="crown">冠</div>
                <h1>人気アイテムランキング</h1>
                <ul id="mainTab">
                  <li id="tabAll" class="current"><a class="selected">すべて</a></li>
                  <li id="tabMen"><a href="/ranking/all-sales-men.html">メンズ</a></li>
                  <li id="tabWomen"><a href="/ranking/all-sales-women.html">レディース</a></li>
                  <li id="tabKids"><a href="/ranking/all-sales-kids.html">キッズ</a></li>
                </ul>
                <p id="otherRanking"><a href="/ranking/gift/all-sales.html">ギフトアイテムのランキングを見る</a></p>
              </div>
              <div class="resultGuideListTop clearfix">
                <div class="brandLabel">
                  <div class="brandLabelRow">
                    <a href="#" class="brandLabelTitle" data-toggle="brand">ブランド選択</a>
                  </div>
                </div>
                <div class="narrowListContainer">
                  <div class="narrowList">
                    <div class="pulldownWrapper">
                      <ul class="pulldownParent" id ="normal">
                        <li><a href="#" class="selected">すべてのカテゴリー</a>
                          <div class="pulldownChild twocolum clearfix">
                            <ul id="category">
                              <li><a class="current-menu">すべてのカテゴリー</a></li>
                              <li><a href="root">ヘアアクセサリー</a></li>
                              <li><a href="root">トップス</a></li>
                              <li><a href="root">アクセサリー</a></li>
                              <li><a href="root">ジャケット/アウター</a></li>
                              <li><a href="root">アンダーウェア</a></li>
                              <li><a href="root">パンツ</a></li>
                              <li><a href="root">レッグウェア</a></li>
                              <li><a href="root">オールインワン/サロペット</a></li>
                              <li><a href="root">帽子</a></li>
                              <li><a href="root">スカート</a></li>
                              <li><a href="root">インテリア</a></li>
                              <li><a href="root">ワンピース</a></li>
                              <li><a href="root">食器/キッチン</a></li>
                              <li><a href="root">スーツ/ネクタイ</a></li>
                              <li><a href="root">雑貨/ホビー/スポーツ</a></li>
                              <li><a href="root">バッグ</a></li>
                              <li><a href="root">コスメ/香水</a></li>
                              <li><a href="root">シューズ</a></li>
                              <li><a href="root">音楽/本・雑誌</a></li>
                              <li><a href="root">ファッション雑貨</a></li>
                              <li><a href="root">水着/着物・浴衣</a></li>
                              <li><a href="root">財布/小物</a></li>
                              <li><a href="root">マタニティ/ベビー</a></li>
                              <li><a href="root">時計</a></li>
                              <li><a href="root">その他</a></li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div id="rankingItem" class="rankingGrid clearfix">
                <div class="clearfix">
                  <div class="fst clearfix rankBox rankingL" data-sid="1982">
                    <p class="rank clearfix">
                      <span class="iconSettop1 icoL">1</span>
                    </p>
                    <div class="photo">
                      <a class="photolink" href="root">
                        <img src="http://img5.zozo.jp/goodsimages/481/31242481/31242481_8_D_500.jpg" width="310" height="372" alt="ZOZOSUIT(採寸ボディースーツ)">
                        <div class="feed-tag-group">
                        </div>
                      </a>
                    </div>
                    <div class="rankIteminfo">
                      <p class="brandName">zozo</p>
                      <dl>
                        <dt>ZOZOSUIT</dt>
                        <dd class="price">¥2,000<span class="tax">税込</span></dd>
                      </dl>
                    </div>
                  </div>
                  <div class="fst clearfix rankBox rankingL" data-sid="1982">
                    <p class="rank clearfix">
                      <span class="iconSettop1 icoL">2</span>
                    </p>
                    <div class="photo">
                      <a class="photolink" href="root">
                        <img src="http://img5.zozo.jp/goodsimages/343/26557343/26557343_1_D_500.jpg" width="310" height="372" alt="ZOZOSUIT(採寸ボディースーツ)">
                        <div class="feed-tag-group">
                        </div>
                      </a>
                    </div>
                    <div class="rankItemset">
                      <p class="brandName">無印良品</p>
                      <dl>
                        <dt>普通のYシャツ</dt>
                        <dd class="price">¥3,000?<span class="tax">税込</span></dd>
                      </dl>
                    </div>
                  </div>
                  <div class="fst clearfix rankBox rankingL" data-sid="1982">
                    <p class="rank clearfix">
                      <span class="iconSettop1 icoL">3</span>
                    </p>
                    <div class="photo">
                      <a class="photolink" href="sampleだよ">
                        <img class="image" src="http://img5.zozo.jp/goodsimages/662/32552662/32552662B_1_D_500.jpg"alt="ZOZOSUIT(採寸ボディースーツ)">
                        <div class="feed-tag-group">
                        </div>
                      </a>
                    </div>
                    <div class="rankItemset">
                      <p class="brandName">不明</p>
                      <dl>
                        <dt>よくわからないもの</dt>
                        <dd class="price">時価<span class="tax">税込</span></dd>
                      </dl>
                    </div>
                  </div>
                  <ul class="raningGrid clearfix">
                    <li class="rankBox clearfix rankingM">
                      <li class="rankBox clearfix rankingM" data-sid="1787">
                        <p class="rank clearfix">
                          <span class="iconSettop4">4</span>
                        </p>
                        <div class="photo">
                          <a class="photoLink" href="/?c=gr&amp;did=40311240&amp;rid=1004">
                            <img src="rain.jpg" width="215" height="258" alt="Champion(チャンピオン)のChampion Authentic T-SHIRTS/ チャンピオン コットン Tシャツ(1/2スリーブ)(Tシャツ/カットソー)">
                            <div class="feed-tag-group"></div>
                          </a>
                        </div>
                        <div class="rankItemset">
                          <p class="brandName">VANS</p>
                          <dl>
                            <dt>[VANS]オフザウォールロゴショートスリーブTシャツ</dt>
                              <dd class="price">"¥3,240"<span class="tax">税込</span></dd>
                          </dl>
                        </div>
                      </li>
                    </li>
                  </ul>
                  <ul class="raningGrid clearfix">
                    <li class="rankBox clearfix rankingM">
                      <li class="rankBox clearfix rankingM" data-sid="1787">
                        <p class="rank clearfix">
                          <span class="iconSettop4">4</span>
                        </p>
                        <div class="photo">
                          <a class="photoLink" href="/?c=gr&amp;did=40311240&amp;rid=1004">
                            <img src="rain.jpg" width="215" height="258" alt="Champion(チャンピオン)のChampion Authentic T-SHIRTS/ チャンピオン コットン Tシャツ(1/2スリーブ)(Tシャツ/カットソー)">
                            <div class="feed-tag-group"></div>
                          </a>
                        </div>
                        <div class="rankItemset">
                          <p class="brandName">VANS</p>
                          <dl>
                            <dt>[VANS]オフザウォールロゴショートスリーブTシャツ</dt>
                            <dd class="price">"¥3,240"<span class="tax">税込</span></dd>
                          </dl>
                        </div>
                      </li>
                    </li>
                  </ul>
                  <ul class="raningGrid clearfix">
                    <li class="rankBox clearfix rankingM">
                      <li class="rankBox clearfix rankingM" data-sid="1787">
                        <p class="rank clearfix">
                          <span class="iconSettop4">4</span>
                        </p>
                        <div class="photo">
                          <a class="photoLink" href="/?c=gr&amp;did=40311240&amp;rid=1004">
                            <img src="rain.jpg" width="215" height="258" alt="Champion(チャンピオン)のChampion Authentic T-SHIRTS/ チャンピオン コットン Tシャツ(1/2スリーブ)(Tシャツ/カットソー)">
                            <div class="feed-tag-group"></div>
                          </a>
                        </div>
                        <div class="rankItemset">
                          <p class="brandName">VANS</p>
                          <dl>
                            <dt>[VANS]オフザウォールロゴショートスリーブTシャツ</dt>
                            <dd class="price">"¥3,240"<span class="tax">税込</span></dd>
                          </dl>
                        </div>
                      </li>
                    </li>
                  </ul>
                  <ul class="raningGrid clearfix">
                    <li class="rankBox clearfix rankingM">
                      <li class="rankBox clearfix rankingM" data-sid="1787">
                        <p class="rank clearfix">
                          <span class="iconSettop4">4</span>
                        </p>
                          <div class="photo">
                            <a class="photoLink" href="/?c=gr&amp;did=40311240&amp;rid=1004">
                              <img src="rain.jpg" width="215" height="258" alt="Champion(チャンピオン)のChampion Authentic T-SHIRTS/ チャンピオン コットン Tシャツ(1/2スリーブ)(Tシャツ/カットソー)">
                              <div class="feed-tag-group"></div>
                            </a>
                          </div>
                          <div class="rankItemset">
                            <p class="brandName">VANS</p>
                            <dl>
                              <dt>[VANS]オフザウォールロゴショートスリーブTシャツ</dt>
                              <dd class="price">"¥3,240"<span class="tax">税込</span></dd>
                            </dl>
                          </div>
                      </li>
                    </li>
                  </ul>
              </div>
              <div id="SearchLinkBlock">
                <p class="btn">
                  <a class="gBtn btnM" href="/search/?sex=kids">すべてのアイテム一覧</a>
                </p>
              </div>
            </section>
          </article>
        </div>
      </div>

      <footer></footer>

  </div>
</body>
