      <div id="searchResultSidebar" class="aSide float">
        <div id="floatingWrapper">
          <div id="floatingBox">
            <section id="searchResultNum" class="nozzle">
              <div class="inner">
                <h2 id="resultNum">
                  対象商品
                  <br>
<!--                 <script type="text/javascript">
                  var CommonList_AllCount = 483102;
                  document.write('<span>0</span>');
                </script> -->
                  <span>483,102</span>
                  <noscript>
                  <span>483102</span>
                  </noscript>
                  <!-- <span>483102</span> -->
                  件
                </h2>
              </div>
            </section>
            <section id="searchSidebarMysize" class="sideBox">
              <div class="mysizeInner disabled">
                <h2>
                  <i class="ico"></i>
                  あなたサイズ
                </h2>
                <p>対象カテゴリーを選択するとあなたに最適なサイズの商品で絞り込めます</p>
                <div class="toggle">
                  <div class="slide">
                    使用できません
                  </div>
                </div>
              </div>
            </section>
            <div id="searchSidebarSelecter">
              <section id="searchType" class="sideBox">
                <h2>性別</h2>
                <ul class="selectList lists">
                  <li class>
                    <a href="#">メンズ</a>
                  </li>
                  <li class>
                    <a href="#">レディース</a>
                  </li>
                  <li class="over">
                    <a href="#">キッズ</a>
                    <div>
                      <ul class="clearfix">
                        <li>
                          <a href="#">ボーイズ</a>
                        </li>
                        <li>
                          <a href="#">ガールズ</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </section>
              <section id="searchPriceType" class="sideBox">
                <h2>価格タイプ</h2>
                <ul class="selectList">
                  <li>
                    <a href="#">通常価格</a>
                  </li>
                  <li class>
                    <a href="#">セール価格</a>
                  </li>
                </ul>
              </section>
              <section id="searchBrand" class="sideBox ovFavListBrand ovFavList cliaerfix">
                <h2>ブランド</h2>
                <p id="popBrandSelect">
                  <a href="#">ブランドを選択する</a>
                </p>
              </section>
              <section id="searchShop" class="sideBox ovFavListShop ovFavList">
                <h2>ショップ</h2>
                <p id="popShopSelect">
                  <a href="#">ショップを選択する</a>
                </p>
              </section>
              <section id="searchCategory" class="sideBox">
                <h2>カテゴリ</h2>
                <ul class="lists" id="hoverCategory">
                  <li id="cat_101">
                    <a href="#">トップス</a>
                    <div>
                      <ul class="clearfix">
                        <li>
                          <a href="#">Tシャツ/カットソー</a>
                        </li>
                        <li>
                          <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">シャツ/ブラウス</a>
                        </li>
                        <li>
                          <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ポロシャツ</a>
                        </li>
                        <li>
                          <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ニット/セーター</a>
                        </li>
                        <li>
                          <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ベスト</a>
                        </li>
                        <li>
                          <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">パーカー</a>
                        </li>
                        <li>
                          <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">スウェット</a>
                        </li>
                        <li>
                          <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">カーディガン</a>
                        </li>
                        <li>
                          <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">アンサンブル</a>
                        </li>
                        <li>
                          <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ジャージ</a>
                        </li>
                        <li>
                          <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">タンクトップ</a>
                        </li>
                        <li>
                          <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">キャミソール</a>
                        </li>
                        <li>
                          <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">チューブトップ</a>
                        </li>
                        <li>
                          <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">その他トップス</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li id="cat_108">
                    <a href="#">ジャケット/アウター</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">パンツ</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">オールインワン</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">スカート</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">ワンピース</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">スーツ/ネクタイ</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">バッグ</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">シューズ</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">ファッション雑貨</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">財布/小物</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">時計</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">ヘアアクセサリー</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">アクセサリー</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">アンダーウェア</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">レッグウェア</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">帽子</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">インテリア</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">食器/キッチン</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">雑貨/ホビー/スポーツ</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">コスメ/香水</a>
                  </li>
                  <li id="cat_101">
                    <a href="#">その他</a>
                  </li>
                </ul>
              </section>
              <form class="decorateForm" method="post" id="searchAll" action="/cordinate/">
                <section id="searchUsertype" class="sideBox">
                  <h2>ユーザータイプ</h2>
                  <ul class="selectList">
                    <li>
                      <a href="#">公認ユーザー</a>
                    </li>
                  </ul>
                </section>
                <section id="searchHeight" class="sideBox">
                  <h2>身長</h2>
                  <div id="searchHeightForm">
                    <div class="slider">
                      <div class="sliderCtrlContainer">
                        <div class="slideCtrl
                        ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="heightCtrl" aria-disabled="false">
                          <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div>
                          <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                          <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a>
                        </div>
                      </div>
                      <script>
                      </script>
                      <div class="control clearfix">
                        <p class="main">
                          <input type="text" class="slideMin" value="0" name="hts">
                             cm
                        </p>
                        <p class="max">
                          <input type="text" class="sliderMax" value="0" name="hte">
                           cm
                        </p>
                      </div>
                    </div>
                    <ul class="btn clearfix">
                      <li>
                        <input type="button" value="OK" id="submitSearchHeight" class="submit gBtn btnSS">
                      </li>
                      <li>
                        <input type="reset" class="gBtnWhite btnSS" value="クリア">
                      </li>
                    </ul>
                  </div>
                </section>
                <section id="searchPrice" class="sideBox">
                  <h2>価格</h2>
                  <div id="searchPriceForm">
                    <div class="slider">
                      <div class="sliderCtrlContainer">
                        <div class="slideCtrl ui-slider ui-slider-horizontal ui=widget ui-widget-content ui-corner-all" id="heightCtrl" aria-disabled="false">
                          <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div>
                          <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                          <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a>
                        </div>
                      </div>
                      <script>
                      </script>
                      <div class="control clearfix">
                        <p class="main">
                          <input type="text" class="slideMin" value="0" name="hts">
                             円
                        </p>
                        <p class="max">
                          <input type="text" class="sliderMax" value="0" name="hte">
                             円
                        </p>
                      </div>
                    </div>
                    <ul class="btn clearfix">
                      <li>
                        <input type="button" value="OK" id="submitSearchHeight" class="submit gBtn btnSS">
                      </li>
                      <li>
                        <input type="reset" class="gBtnWhite btnSS" value="クリア">
                      </li>
                    </ul>
                  </div>
                </section>
              </form>
              <section id="searchColor" class="sideBox">
                <h2>カラー</h2>
                <ul id="colorSelect" class="clearfix">
                  <li class="c1">
                    <span class="pop"></span>
                    <a class="clearfix" href="http://zozo.jp/coordinate/?p_cocid=1">
                      <span class="ico_color"></span>
                    </a>
                  </li>
                  <li class="c2">
                    <span class="pop"></span>
                    <a class="clearfix" href="http://zozo.jp/coordinate/?p_cocid=2">
                      <span class="ico_color"></span>
                    </a>
                  </li>
                  <li class="c3">
                    <span class="pop"></span>
                    <a class="clearfix" href="http://zozo.jp/coordinate/?p_cocid=3">
                      <span class="ico_color"></span>
                    </a>
                  </li>
                </ul>
              </section>
            </div>
            <div id="sideBanners">
              <div id="giftLeftBanner">
                <p>
                  <a href="#">
                    <img src="http://img4.zozo.jp/giftwrapping/pc/search_banner_fathersday.jpg" width="181" alt="ZOZOTOWNで選ぶ思い出に残る父の日ギフト">
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

