<%= render '/layouts/header/header' %>
<%= render '/layouts/contents-bar' %>
<div class=body>
  <div class=breadcrumbs>
    <%= render_breadcrumbs separator: ' ＞ ' %>
  </div>
  <div class="wrapper">
    <div id=index_header>
      <h1>
        サイトマップ
      </h1>
    </div>
    <div class="keyword_index">
      <div class="mall_list">
        <div class="mall_list__title">
          モール
        </div>
        <div class="mall_list__name">
          <a href="root_path">ZOZOTOWN</a>
        </div>
        <div class="mall_list__name">
          <a href="root_path">ZOZOUSED</a>
        </div>
      </div>
      <div class="search_list">
        <div class="search_list__title">
          探す
        </div>
        <ul>
          <li><a href="root_path">カテゴリ一覧</a></li>
          <li><a href="root_path">ショップ一覧</a></li>
          <li><a href="root_path">ブランド一覧</a></li>
          <li><a href="root_path">ショップニュース一覧</a></li>
        </ul>
        <ul>
          <li><a href="root_path">注目キーワード一覧</a></li>
          <li><a href="root_path">コーディネート一覧</a></li>
          <li><a href="root_path">ファッションまとめ一覧</a></li>
          <li><a href="root_path">人気アイテムランキング</a></li>
        </ul>
        <ul>
          <li><a href="root_path">古着取り扱いブランド一覧</a></li>
          <li><a href="root_path">こだわり検索</a></li>
        </ul>
      </div>
      <div class="member_service">
        <div class="member_service__title">
          会員サービス
        </div>
        <ul>
          <li><a href="root_path">新規会員登録</a></li>
          <li><a href="root_path">メルマガ登録</a></li>
          <li><a href="root_path">ZOZOCARD</a></li>
          <li><a href="root_path">ブランド古着買取サービス</a></li>
        </ul>
      </div>
      <div class="help_and_guide">
        <div class="help_and_guide__title">
          ヘルプ＆ガイド
        </div>
        <ul>
          <li><a href="root_path">初めての方へ</a></li>
          <li><a href="root_path">よくある質問</a></li>
          <li><a href="root_path">お問合わせ</a></li>
          <li><a href="root_path">お届けについて</a></li>
        </ul>
        <ul>
          <li><a href="root_path">配送料について</a></li>
          <li><a href="root_path">お支払い方法について</a></li>
          <li><a href="root_path">注文取消し・返品について</a></li>
          <li><a href="root_path">ご利用環境について</a></li>
        </ul>
        <ul>
          <li><a href="root_path">ブランド古着買取サービスについて</a></li>
          <li><a href="root_path">スマートフォンサイト</a></li>
          <li><a href="root_path">モバイルサイト</a></li>
        </ul>
      </div>
    </div>
  </div>
<%= render '/layouts/footer' %>

