<div class="arigato_wrapper">
  <div class="arigato__header clearfix">
    <%= link_to "ZOZOTOWN", root_path, class: "arigato__header__link" %>
  </div>
  <div class="arigato__message clearfix">
    <div class="arigato__message__content">
      <div class="arigato__message__content__image">
        ARIGATO!
      </div>
      <div class="arigato__message__content__info">
        <div class="arigato__message__content__info__user_name">
          <%= current_user.name %> 様
        </div>
        <div class="arigato__message__content__info__thanks">
          ご注文ありがとうございます。
        </div>
        <div class="arigato__message__content__info__text">
          <p class="arigato__message__content__info__text-first">
            ご注文内容は、配信されたご注文確認メールか、
          </p>
          <p class="arigato__message__content__info__text-second">
            注文履歴（
            <a href="https://www.amazon.co.jp/" class="order_number">ご注文番号：294732892</a>
            )より
          </p>
          <p class="arigato__message__content__info__text-third">
            ご確認ください。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="arigato__purchase clearfix">
    <div class="arigato__purchase__message">
      <p class="arigato__purchase__message-text">
        着なくなった洋服を
      </p>
      <p class="arigato__purchase__message-text">
        ZOZOTOWNに売ってみませんか？
      </p>
      <p class="arigato__purchase__message-attention">
        商品と一緒に届く買取用バッグに洋服を入れるだけ！
      </p>
      <img src="https://sell.zozo.jp/pc/common/img/sns/share.jpg" class="arigato__purchase__message-image">
    </div>
    <div class="arigato__purchase__info">
      <div class="arigato__purchase__info__image">
        <img src="https://sell.zozo.jp/pc/guide/img/guide_main.png">
      </div>

      <div class="arigato__purchase__info__link">
        <a href="http://www.dot-st.com/globalwork/" class="arigato__purchase__info__link-btn">詳細はこちら</a>
      </div>
      <div class="arigato__purchase__info__attention">
        ※本人確認書類は、受取金額が10,000円未満の場合不要となります。
      </div>
    </div>
  </div>
  <div class="arigato__footer clearfix">
    <div class="arigato__footer__content">
      <%= link_to "ZOZOTOWNトップへ", root_path, class: "arigato__footer__content__redirect_btn" %>
    </div>
  </div>
</div>
