<body id="zozotown-carts">
  <div class="wrapper">
    <header></header>
    <div class="carts__header">
      <i class="fa fa-shopping-cart"></i>
      <h1>ショッピングカート</h1>
      <!-- <p class="carts_header__navi">
        <i class="fa fa-pencil-square-o"></i>
        <div class="carts_header__navi__info">
          ログイン・情報入力
        </div>
      </p> -->
    </div>
    <div class="carts__contents_wrapper">
      <div class="carts__left_contents">
        <div class="carts__left_contents-banner">
          <img src="http://img4.zozo.jp/pc/zozoomake/201806/omake_pc_cart_men.jpg">
        </div>
        <div class="carts__left_contents__products">
          <img src="http://img5.zozo.jp/goodsimages/646/32016646/32016646B_6_D_125.jpg" class="carts__left_contents__products-image">
          <ul class="carts__left_contents__products-info">
            <li>GLOBAL WORK</li>
            <li>GLOBAL WORK</li>
            <li>デニムシャツ半袖/788441</li>
            <li>カラー: スカイブルー</li>
            <li>サイズ: X-LARGE</li>
          </ul>
          <div class="carts__left_contents__products-price">
            ¥3780
          </div>
          <div class="carts__left_contents__products-btn">ボタン
          </div>
          <div class="carts__left_contents__products-delete">削除
          </div>
        </div>
        <div class="carts__left_contents__total">
          <div class="carts__left_contents__total-title">
            商品合計
          </div>
          <div class="carts__left_contents__total-value">¥3780
          </div>
        </div>
      </div>

      <div class="carts__right_contents">
        <form method="post" class="carts__right_contents__registar_link">
          <div class="carts__right_contents__registar_link-btn">
            <p class="btn">
              <a class="g_btn btn_m" href="/search/?sex=kids">レジへ進む</a>
            </p>
          </div>
          <div class="carts__right_contents__registar_link-postage">
            <i class="fa fa-exclamation-circle"></i>
            <div class="information">
              <p>送料は一律200円になりました。</p>
              <a href">詳細はこちら</a>
            </div>
          </div>
        </div>
      </div>
    </div>
