.content_header {
  h1 {
    font-size: 21px;
    float: left;
    padding: 24px 0 0 0;
  }
  .confirm_navi {
    float: right;
    margin: 0 10px 10px 0;
    img {
      width: 295px;
      height: 70px;
    }
  }
}
