.confirm_header {
  font-size: 12px;
  a {
    background: url(https://zozo.jp/common_2014/img/header/h_logo.gif) no-repeat -2px top;
    padding: 26px 0 0;
    width: 184px;
    display: block;
    overflow: hidden;
    height: 0;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
  }
}
