<div class="log_in__wrapper">
  <article>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="log_in__body">
        <div class="log_in__content_bread_crunmb clearfix">
          <a href="/products" class="log_in_bread">ZOZOTOWN</a>
          <div class="bread_title">>ログイン</div>
        </div>
        <div class="log_in__content_header clearfix">
          <i class="fa fa-user"></i>
          <h1>ログイン</h1>
        </div>
        <div class="log_in__content clearfix">
          <div class="log_in__content__left">
            <h2 class="log_in__content__left__title">ZOZO ID でログイン</h2>
            <form class="log_in__content__left__form" method="post" name="form1" action="login.html">
              <div class="log_out_message">ログアウトしました。</div>
              <ul class="log_in__content__left__form__list clearfix">
                <li class="log_in__content__left__form__list-text clearfix">
                  <div class="input_box">
                  <%= f.email_field :email, autofocus: true, :placeholder =>'メールアドレスまたはZOZO ID' %>
                  </div>
                </li>
                <li class="log_in__content__left__form__list-text clearfix">
                  <div class="input_box">
                  <%= f.password_field :password, :placeholder =>'パスワード', autocomplete: "off" %>
                  </div>
                </li>
              </ul>
              <input type="hidden" name="autologin" value="1">
              <input type="hidden" name="pattern" value>
              <div class="log_in__content__left__form__btn clearfix">
                <p class="btn_frame">
                  <input type="submit" value="ログイン" class="log_in_btn">
                </p>
                <ul class="help_link">
                  <li class="help_link-text">
                    <a href="/constructions">ID・パスワードをお忘れですか？</a>
                  </li>
                  <li class="help_link-text">
                    <a href="<%= new_user_registration_path %>">はじめてご利用の方（新規会員登録）</a>
                  </li>
                </ul>
              </div>
            </form>
          </div>
          <div class="log_in__content__right clearfix">
            <h2 class="log_in__content__right__title">外部サイトIDでログイン</h2>
            <ul class="log_in__content__right__other_id">
              <li class="log_in__content__right__other_id__list">
                <form method="post" name="yahoo_id" action="./login.html">
                  <input type="hidden" name="c" value="YahooLogin">
                  <input type="hidden" name="pattern" value>
                  <input type="submit" value="Yahoo!JAPAN ID" class="log_in__content__right__other_id__list__id_btn">
                </form>
              </li>
              <li class="log_in__content__right__other_id__list">
                <form method="post" name="mixi_id" action="./login.html">
                  <input type="hidden" name="c" value="mixi_login">
                  <input type="hidden" name="pattern" value>
                  <input type="submit" value="mixi ID" class="log_in__content__right__other_id__list__id_btn">
                </form>
              </li>
            </ul>
            <p class="log_in__content__right__info">ZOZOポイントが貯まる</p>
          </div>
        </div>
        <div class="under_attention">
          <ul class="under_attention__info">
            <li class="under_attention__info__text">
              ※ 外部サイトIDでログインについてはヘルプ内「
              <a href="/constructions" class="under_attention__info__link">Yahoo! JAPAN IDについて</a>
                」「
              <a href="/constructions" class="under_attention__info__link">mixi IDについて</a>
                」をご覧ください。
            </li>
            <li class="under_attention__info__text">
              ※ mixi IDでログインされる場合に、mixiの利用同意画面にて「お客様のマイミク一覧・グループ・ご友人の現住所・性別・生年月日を取得する」との記載がございますが、
              <br>
              当社で取得している情報は「ご登録されたご本人様の都道府県・性別・生年月日のみ」となっております。
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </article>
</div>
