<div class="payments_wrapper">
  <div class="payments_header">
    <a href="https://www.microsoft.com/ja-jp" class="payments_header__logo">ZOZOTOWN?</a>
    <h3 class="payments_header__title">お届け先・配送方法・お支払い方法</h3>
  </div>
  <div class="payments__contents">
    <form method="post" class="payments__contents__form clearfix">
      <div class="payments__contents__left">
        <div class="payments__contents__left__destination">
          <div class="payments__contents__left__destination__title">
            <div class="payments__contents__left__destination__title-text">
              お届け先
            </div>
          </div>
          <div class="payments__contents__left__destination__check_box">
            <div class="payments__contents__left__destination__check_box-user_info checked">
              <input type="radio" name="user" value="" class="radio-user" checked>
              <label for="radio-user" class="radio-user"></label>
              <div class="payments__contents__left__destination__check_box-user_info-data">
                <li class="check_box-user_data">平平寝坊之介食左衛門</li>
                <li class="check_box-user_data"> 〒はありません</li>
                <li class="check_box-user_data">住所不定</li>
                <li class="check_box-user_data">電話は持ってない</li>
              </div>
            </div>
            <div class="payments__contents__left__destination__check_box-add_info">
              <input type="radio" name="user" value="" class="radio-add">
              <label for="radio-user" class="radio-add"></label>
              <div class="payments__contents__left__destination__check_box-add_info-text">
                新しいお届け先を追加する
              </div>
            </div>
          </div>
        </div>
        <div class="payments__contents__left__shipping_method">
          <div class="payments__contents__left__shipping_method__title">
            <div class="payments__contents__left__shipping_method__title-text">
              <p class="title-text">配送方法</p>
              <p class="title-text">お届け予定日</p>
            </div>
          </div>
          <div class="payments__contents__left__shipping_method__check_box" >
            <div class="payments__contents__left__shipping_method__check_box-add_info">
              <input type="radio" name="shipping" value="" class="radio-add_date" checked>
              <label for="radio-add_date" class="radio-add_date"></label>
              <div class="payments__contents__left__shipping_method__check_box-add_info-text">
                <li class="shipping_designation">指定なし</li>
                <li class="shipping_date">１〜３日以内に発送</li>
                <li class="shipping_postage">¥200</li>
              </div>
            </div>
            <div class="payments__contents__left__shipping_method__check_box-add_info">
              <input type="radio" name="shipping" value="" class="radio-add_date">
              <label for="radio-add_date" class="radio-add_date"></label>
              <div class="payments__contents__left__shipping_method__check_box-add_info-text">
                <li class="shipping_designation">指定なし</li>
                <li class="shipping_date">１〜３日以内に発送</li>
                <li class="shipping_postage">¥200</li>
              </div>
            </div>
            <div class="payments__contents__left__shipping_method__check_box-add_info">
              <input type="radio" name="shipping" value="" class="radio-add_date">
              <label for="radio-add_date" class="radio-add_date"></label>
              <div class="payments__contents__left__shipping_method__check_box-add_info-text">
                <li class="shipping_designation">指定なし</li>
                <li class="shipping_date">１〜３日以内に発送</li>
                <li class="shipping_postage">¥200</li>
              </div>
            </div>
          </div>
        </div>
        <div class="payments__contents__left__payments_method">
          <div class="payments__contents__left__payments_method__title">
            <div class="payments__contents__left__payments_method__title-text">
              お支払い方法
            </div>
          </div>
          <div class="payments__contents__left__payments_method__check_box" >
            <div class="payments__contents__left__payments_method__check_box-add_info">
              <input type="radio" name="payments" value="" class="radio-add_pay" checked>
              <label for="radio-add_pay" class="radio-add_pay"></label>
              <div class="payments__contents__left__payments_method__check_box-add_info-text">
                <li class="payments_designation">現金</li>
                <li class="payments_date">ポイントはナシ</li>
                <li class="payments_postage">¥時価</li>
              </div>
            </div>
          </div>
          <div class="payments__contents__left__payments_method__check_box" >
            <div class="payments__contents__left__payments_method__check_box-add_info">
              <input type="radio" name="payments" value="" class="radio-add_pay" >
              <label for="radio-add_pay" class="radio-add_pay"></label>
              <div class="payments__contents__left__payments_method__check_box-add_info-text">
                <li class="payments_designation">現金</li>
                <li class="payments_date">ポイントはナシ</li>
                <li class="payments_postage">¥時価</li>
              </div>
            </div>
          </div>
          <div class="payments__contents__left__payments_method__check_box" >
            <div class="payments__contents__left__payments_method__check_box-add_info">
              <input type="radio" name="payments" value="" class="radio-add_pay" >
              <label for="radio-add_pay" class="radio-add_pay"></label>
              <div class="payments__contents__left__payments_method__check_box-add_info-text">
                <li class="payments_designation">現金</li>
                <li class="payments_date">ポイントはナシ</li>
                <li class="payments_postage">¥時価</li>
              </div>
            </div>
          </div>
          <div class="payments__contents__left__payments_method__check_box" >
            <div class="payments__contents__left__payments_method__check_box-add_info">
              <input type="radio" name="payments" value="" class="radio-add_pay" >
              <label for="radio-add_pay" class="radio-add_pay"></label>
              <div class="payments__contents__left__payments_method__check_box-add_info-text">
                <li class="payments_designation">現金</li>
                <li class="payments_date">ポイントはナシ</li>
                <li class="payments_postage">¥時価</li>
              </div>
            </div>
          </div>
          <div class="payments__contents__left__payments_method__check_box" >
            <div class="payments__contents__left__payments_method__check_box-add_info">
              <input type="radio" name="payments" value="" class="radio-add_pay" >
              <label for="radio-add_pay" class="radio-add_pay"></label>
              <div class="payments__contents__left__payments_method__check_box-add_info-text">
                <li class="payments_designation">現金</li>
                <li class="payments_date">ポイントはナシ</li>
                <li class="payments_postage">¥時価</li>
              </div>
            </div>
          </div>
          <div class="payments__contents__left__payments_method__check_box" >
            <div class="payments__contents__left__payments_method__check_box-add_info">
              <input type="radio" name="payments" value="" class="radio-add_pay" >
              <label for="radio-add_pay" class="radio-add_pay"></label>
              <div class="payments__contents__left__payments_method__check_box-add_info-text">
                <li class="payments_designation">現金</li>
                <li class="payments_date">ポイントはナシ</li>
                <li class="payments_postage">¥時価</li>
              </div>
            </div>
          </div>
          <div class="payments__contents__left__payments_method__check_box" >
            <div class="payments__contents__left__payments_method__check_box-add_info">
              <input type="radio" name="payments" value="" class="radio-add_pay" >
              <label for="radio-add_pay" class="radio-add_pay"></label>
              <div class="payments__contents__left__payments_method__check_box-add_info-text">
                <li class="payments_designation">現金</li>
                <li class="payments_date">ポイントはナシ</li>
                <li class="payments_postage">¥時価</li>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="payments_contents__right">
        <div class="payments_contents__right__next_link">
          <div class="payments_contents__right__next_link-btn">
            <p class="next_link-btn">
              <a class="n_btn" href="/orders">次へ進む</a>
            </p>
          </div>
          <div class="payments_contents__right__next_link__fee">
            <div class="payments_contents__right__next_link__fee-products">
              <li class="fee_title">商品合計</li>
              <li class="fee_detail">¥5,400</li>
            </div>
            <div class="payments_contents__right__next_link__fee-postage">
              <li class="fee_title">送料</li>
              <li class="fee_detail">¥200</li>
            </div>
            <div class="payments_contents__right__next_link__fee-commission">
              <li class="fee_title">支払い手数料</li>
              <li class="fee_detail">¥0</li>
            </div>
          </div>
          <div class="payments_contents__right__next_link__total">
            <li class="total_title">合計</li>
            <li class="total_tax">（税込）</li>
            <li class="total_detail">¥5,600</li>
          </div>
        </div>
      </div>
    </form>
    <div class="payments__contents__bottom">
      <li class="payments__contents__bottom__attention">
        ※
        <a href="https://www.microsoft.com/ja-jp" class="attention-link">ZOZOCARDとは？</a>
      </li>
      <li class="payments__contents__bottom__attention">
        ※デビット機能付きカード、カード会社発行のプリペイドカードのご利用はお控えください。詳しくは、
        <a href="https://www.microsoft.com/ja-jp" class="attention-link">注意事項</a>
        をご確認ください
      </li>
      <li class="payments__contents__bottom__attention">
        ※コンビニを選択された場合、お支払いを確認後に配送方法「指定なし」でのお届けとなります。
      </li>
    </div>
  </div>
</div>
