.product_contacts__view {
  height: 600px;
  width: 370px;
  border: 1px solid black;
  z-index: 2;
  position: fixed;
  display: none;
  background-color: white;
  &__header {
    height: 10%;
    display: flex;
    background-color: #EEEEEE;
    border-bottom: 1px solid black;
    &__zozo {
      font-weight:bold;
      line-height: 70px;
      margin-left: 10px;
      font-size: 18px;
    }
    &__icon {
      margin: 0 15px;
      line-height: 80px;
      &__close {
        text-decoration: none;
        color: black;
      }
    }
  }
  &__contents {
    height: 65%;
    overflow: scroll;
    &__name {
      flex-flow: column;
    }
    &__message {
      border-bottom: 1px solid black;
    }
  }
  &__footer {
    height: 25%;
    border-top: 1px solid black;
    background-color: #EEEEEE;
    &__form {
      border: 1px solid #ededed;
      &__input {
      border-radius: 10px;
      margin: 7px;
      width: 100%;
      }
      &__btn {
      width: 150px;
      margin: 0 100px;
      }
    }
    &__contact {
      text-align: center;
    }
    &__btn {
      display: none;
      text-align: center;
    }
    &__point {
      margin: 10px;
    }
  }
}
