#wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: left;
  position: relative;
  .breadcrumbs {
      padding: 25px 7px;
      margin: 0 auto;
      width: 980px;
      font-size: 13px;
      color: gray;
      a{
      text-decoration: none;
      color: #007ebe;
      }
    }
  #body {
    overflow: hidden;
    zoom: 1;
    width: 980px;
    height: 100%;
    margin: 0 auto 0;
    position: relative;
  }
  #body:before,#body:after {
    content: "";
    display: table;
  }
  #body:after {
    clear: both;
  }
  #content {
    float: right;
    width: 760px;
  }
  .sectionHeader {
    border-bottom:1px solid #dcdcdc;
    h1 {
      font-size:18px;
      padding:0 0 6px 0;
    }
  }
  .sectionHeader.clearfix h1 {
    float:left;
    margin: 0 10px 0 0;
  }
  #swConditionTab {
    border-bottom:solid 2px #c3c3c3;
    margin:-1px 0;
    position:relative;
    z-index:21;
    background:#ffffff;
    padding:5px 0 0;
    ul {
      margin: 0 0 0 -4px;
      li {
        position:relative;
        float:left;
        margin:0 0 -2px 4px;
        border-bottom:none;
        padding:5px 0 0 0;
        font-size:15px;
        color:#2d2d2d;
      }
      li.current {
        padding:13px 0 8px;
        width:146px;
        text-align:center;
        color:#2d2d2d;
        border:2px solid #c3c3c3;
        border-bottom:2px solid #ffffff;
        border-radius:4px 4px 0 0;
        -webkit-border-radius:4px 4px 0 0;
      }
      li a {
        display:block;
        padding:9px 0 7px;
        width:150px;
        text-align:center;
        font-size:15px;
        color:#2d2d2d;
        border-top:2px solid #e4e4e4;
        border-bottom:2px solid #c3c3c3;
        background:#e4e4e4;
        border-radius:4px 4px 0 0;
        -webkit-border-radius:4px 4px 0 0;
      }
      li a:hover {
        text-decoration:none;
        background:#e8e8e8;
        border-top:2px solid #e8e8e8;
        color:#606060;
      }
      li .ico_new {
        position:absolute;
        display:block;
        background:#e73656;
        color:#ffffff;
        right:-2px;
        top:-2px;
        padding: 2px 8px 1px;
        border-radius:10px;
        font-size:10px;
        z-index: 100;
      }
      li a span {
        font-size:11px;
        margin: 0 0 0 5px;
        vertical-align: 1px;
      }
    }
  }
    .narrowList {
      font-size:12px;
      line-height:1.2;
      float:left;
      margin:0 9px 0 6px;
      position:relative;
      z-index:30;
    }
      .pulldownWrapper {
        position:relative;
      }
        .pulldownWrapper.static:hover .pulldownChild {
          left:auto;
        }
        .pulldownWrapper a {
          text-decoration:none;
          color:#646464;
        }
          .pulldownParent {
            position:relative;
            *zoom: 1;
            list-style-type: none;
          }
          .pulldownParent:before, .pulldownParent:after{
            content: "";
            display: table;
          }
          .pulldownParent:after{
            clear: both;
          }
          .pulldownParent li {
            padding:5px 35px 9px 13px;
            color:#646464;
            font-size:14px;
            position: relative;
          }
          .pulldownParent li a {
            display: block;
          }
          .pulldownParent li:hover {
            color:#b4b4b4;
          }
          #normal li .pulldownChild {
            display: none;
          }
          #normal li:hover .pulldownChild {
            display: block;
          }
          .pulldownChild {
            border-radius:2px;
            padding:15px 0 15px 0;
            margin:-1px 0 0 0;
            z-index:12;
            position: absolute;
            top: 31px;
            border: 1px solid #dcdcdc;
            background: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            ul {
              float:left;
              z-index:15;
              background:#fff;
              left: 0px;
              top: 0px; border:1px solid #dcdcdc;
            }
            ul:hover {
              top: 50px;
              visibility: visible;
              opacity: 1;
            }
            ul li {
              float:none;
              margin:0;
              font-size:13px;
              cursor:pointer;
              white-space:nowrap;
            }
          }
            .pulldownChild ul li:hover {
              cursor:default;
            }
              .pulldownChild ul li a {
                padding:1px 4px 1px 4px;
                display:block;
              }
              .pulldownChild ul li a:visited {
                color :#646464;
              }
              .pulldownChild ul li a:hover {
                background:#f5f5f5;
                color:#646464;
              }
              .pulldownChild ul li.selected {
                padding:1px 4px 1px 4px;
                color:#646464;
                background:#e6e6e6;
              }
              .pulldownChild ul li.tit {
                color:#777;
                font-size:14px;
                padding:1px 4px 1px 4px;
              }
  #coordinate_list {
    clear:both;
    position:relative;
    padding:8px 0 0 0;
    margin:0 0 -20px 0;
  }
    #coordinate_list ul {
      position:relative;
      width:822px;
      margin:0 0 0 -57px;
    }
      #coordinate_list ul li {
        position:relative;
        z-index:1;
        margin:0 0 30px 57px;
        width:215px;
        height:400px;
        float:left;
      }
        #coordinate_list ul li.open {
          z-index:11;
        }
        #coordinate_list ul li .mainitem {
          position:relative;
          z-index:13;
        }
        #coordinate_list ul li p.img {
          position: relative;
          font-size:0;
          line-height:1;
        }
        #coordinate_list ul li.brandOfficial p.img:before {
          position: absolute;
          right:7px;
          bottom:7px;
          z-index:2;
          content: '';
          display: block;
          width: 23px;
          height: 23px;
          font-size: 0;
          line-height: 1;
          //background: url('.png') no-repeat left top;
        }
        #coordinate_list ul li .iteminfo {
          margin:10px 0 0 0;
          position:relative;
        }
          #coordinate_list ul li .iteminfo .sub {
            width:58px;
            float:left;
          }
          #coordinate_list ul li .iteminfo .sub p.img {
            font-size:0;
            line-height:1;
          }
          #coordinate_list ul li .iteminfo .sub p.img:before {
            content:none;
          }
          #coordinate_list ul li .iteminfo .main {
            width:148px;
            float:right;
            position:relative;
          }
          #coordinate_list ul li .iteminfo .stock {
            padding-top:4px;
            font-size:11px;
            line-height:1.2;
            color:#808080;
          }
            #coordinate_list ul li .iteminfo .stock span {
              margin:0 5px 0 0;
            }
            #coordinate_list ul li .iteminfo .stock .nostock {
              color:#e73656;
            }
          #coordinate_list ul li .iteminfo .category {
            padding-top:4px;
            font-size:11px;
            line-height:1.2;
            color:#808080;
          }
          #coordinate_list ul li .iteminfo .name {
            margin:0;
            line-height:1.2;
            text-overflow:ellipsis;
            white-space:nowrap;
            overflow:hidden;
            color:#808080;
            font-size:12px;
            width:120px;
          }
          #coordinate_list ul li .iteminfo .price {
            margin:6px 0 0 0;
            font-size:15px;
            line-height:1.1;
          }
          #coordinate_list ul li .iteminfo .discount {
            color:#DE2020;
          }
          #coordinate_list ul li .iteminfo .discount .off {
            font-size:10px;
            display:inline;
            margin:0 0 0 3px;
          }
          #coordinate_list ul li .iteminfo .model {
            margin:2px 0 0 0;
            font-size:11px;
            color:#6f6f6f;
            text-overflow:ellipsis;
            white-space:nowrap;
            overflow:hidden;
          }
          #coordinate_list ul li .iteminfo .bigimage {
            width:20px;
            height:20px;
            top:0;
            right:0;
            position:absolute;
          }
            #coordinate_list ul li .iteminfo .bigimage a {
              height:0;
              padding:20px 0 0;
              width:20px;
              float:right;
              overflow:hidden;
              display:block;
              //background:url(.gif) no-repeat left top;
            }
            #coordinate_list ul li .iteminfo .bigImage a:hover {
              overflow:visible;
            }
              #coordinate_list ul li .iteminfo .bigimage a span {
                display:none;
                position:absolute;
                width:61px;
                height:0;
                overflow:hidden;
                padding:32px 0 0;
                //background:url(.png) no-repeat 0 0;
                top:-37px;
                left:-22px;
              }
              #coordinate_list ul li .iteminfo .bigimage a:hover span {
                display:block;
              }
        #coordinate_list ul li .moreitem {
          display:none;
          position:absolute;
          overflow:hidden;
          right:-10px;
          top:-10px;
          z-index:12;
          width:390px;
          height:390px;
          background-color:#fff;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
          border-radius:2px;
        }
          #coordinate_list ul li .moreitem .loader {
            width:172px;
            height:390px;
            opacity:0.2;
            background-position:90px 50%;
          }
          #coordinate_list ul li .moreitem .container {
            width:172px;
            padding:0 0 0 10px;
            border-right:1px #f7f7f7 solid;
            height:100%;
          }
          #coordinate_list ul li .moreitem ul {
            width:auto;
            padding:10px 0 0 0;
            margin:0;
          }
            #coordinate_list ul li .moreitem ul li {
              margin:4px 0 0 0;
              padding:0 5px 0 0;
              width:auto;
              height:auto;
              float:none;
            }
            #coordinate_list ul li .moreitem ul li:first-child {
              margin-top:0;
            }
              #coordinate_list ul li .moreitem ul li a {
                display:block;
              }
              #coordinate_list ul li .moreitem ul li span.box {
                display:block;
                opacity:0.6;
              }
              #coordinate_list ul li .moreitem ul li a:hover {
                opacity:0.6;
              }
              #coordinate_list ul li .moreitem ul li p.thumbnail {
                font-size:0;
                line-height:1;
                width:33px;
                border:1px #e9e9e9 solid;
                float:left;
              }
              #coordinate_list ul li .moreitem ul li a:hover p.thumbnail img {
                opacity:1;
              }
              #coordinate_list ul li .moreitem ul li .cnt {
                width:126px;
                float:right;
              }
                #coordinate_list ul li .moreitem ul li .cnt .category {
                  font-size:12px;
                  color:#808080;
                  text-overflow:ellipsis;
                  white-space:nowrap;
                  overflow:hidden;
                }
                #coordinate_list ul li .moreitem ul li .cnt .price {
                  font-size:12px;
                  color:#2d2d2d;
                  white-space:nowrap;
                }
                  #coordinate_list ul li .moreitem ul li .cnt .price span.tax {
                    margin:0 0 0 2px;
                    font-size:9px;
                    color:#808080;
                  }
                  #coordinate_list ul li .moreitem ul li .cnt .price span.off {
                    display:inline;
                    margin:0 0 0 2px;
                    font-size:9px;
                  }
                  #coordinate_list ul li .moreitem ul li .cnt .price.discount span.tax {
                    color:#e73656;
                  }
                  #coordinate_list ul li .moreitem ul li .cnt .txt {
                    color:#808080;
                  }
  .pager {
    margin:12px 0 0;
    width:100%;
    font-family:helvetica;
    font-size: 16px;
  }
    .pager ul {
      padding:10px 0 50px;
      text-align:right;
    }
      .pager ul li {
        display:inline-block;
        line-height:1.313;
      }
      .pager ul li.doted {
        margin:0;
        vertical-align:bottom;
      }
      .pager ul li span.doted {
        background:none;
        border:none;
        display:inline-block;
        padding:0 3px 0 0;
        color:#5c5c5c;
      }
      .pager ul li.listEnd {
        border:none;
        padding:0;
      }
      .pager ul li a {
        padding:5px 10px 4px;
        display:inline-block;
        vertical-align: middle;
        margin:-1px 4px 0;
        background:#fff;
        border:1px solid #dcdcdc;
        border-radius:2px;
        text-decoration:none;
      }
      .pager ul li a:hover {
        background-color: #f0f0f0;
        color: #808080;
        -webkit-font-smoothing: antialiased;
      }
      .pager ul li span {
        background:#dcdcdc;
        border:1px solid #eaeaea;
        color:#fff;
        -webkit-font-smoothing: antialiased;
      }
        .pager ul li span, .pager ul li a {
          padding: 5px 10px 4px;
          display: inline-block;
          vertical-align: middle;
          margin: -1px 4px 0;
          border-radius: 2px;
          text-decoration: none;
        }
      .pager ul li.prev {
        margin:-1px 5px 0 0;
        height:28px;
        border:none;
      }
      .pager ul li.next {
        margin:-1px 0 0 0;
        height:28px;
        border:none;
        padding:0;
      }
      .pager ul li.prev a {
        background:url(//nextボタンのicon挿入
          ) no-repeat left top;
        padding:30px 0 0;
        height:0;
        width:60px;
        overflow:hidden;
        border:none;
      }
      .pager ul li.next a {
        background:url(//nextボタンのicon挿入
          ) no-repeat right top;
        padding:30px 0 0;
        height:0;
        width:60px;
        overflow:hidden;
        border:none;
        margin:-1px 2px 0 6px;
      }
      .pager ul li.next a:hover {
        opacity:0.8;
        filter:alpha(opacity=80);
      }
    .pager .pageCount {
      float:right;
      margin-right:10px;
      _margin-right:7px;
      padding:2px 0 0;
    }
  .section {
    border-top: solid 1px #ebebeb;
  }
  .section .section {
    padding: 25px 0;
  }
  .indexItem {
    float: left;
    width: 50%;
  }
  .indexColumnCount2:after {
    content:"";
    display:block;
    clear:both;
  }
  .indexColumnCount2 .indexItem {
    float:left;
    width:50%;
  }
  .indexCompact.indexColumnCount2.indexMediaXs {
    margin-top: -12px;
  }
  .feedMedia,.feedMedia:before,.feedMedia:after,.feedMedia *,.feedMedia *:before,.feedMedia *:after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  }
  .feedMediaXs {
    margin-top: 20px;
    padding: 0 30px 12px 0;
    height: 80px;
  }
  .feedMediaXs .feedLink {
    padding:0;
    display: table;
    table-layout: fixed;
    position: relative;
    width: 100%;
    height: 100%;
    color: #808080;
    text-decoration: none;
  }
  .feedMediaXs .feedBadge {
    left:-9px;
    top:-6px;
    position: absolute;
  }
  .feedMediaXs .feedBadge.iconPickup {
    left:-10px;
  }
  .badgeXs {
    width: 22px;
    height: 22px;
    font-size: 11px;
    line-height: 21px;
    display:inline-block;
    position:relative;
    z-index:1;
    border:1px solid #dedede;
    border-radius:50%;
    background:#ffffff;
    color:#8c8c8c;
    font-family:helvetica, sans-serif;
    text-align:center;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }
  .badgeRank1,.badgeRank2,.badgeRank3 {
    color:#ffffff;
  }
  .badgeRank1 {
    border-color:#d9b340;
    background-color:#d9b340;
  }
  .badgeRank2 {
    border-color:#6f7b83;
    background-color:#6f7b83;
  }
  .badgeRank3 {
    border-color:#a15326;
    background-color:#a15326;
  }
  .feedMediaXs .feedFigure {
    width:68px;
    min-width:68px;
    text-align: center;
    display: table-cell;
    vertical-align: top;
  }
  .feedMediaXs .feedThumbnail {
    max-height:68px;
  }
  .feedMediaXs .feedContent {
    padding-left:10px;
    width: 100%;
    display: table-cell;
    vertical-align: top;
  }
  .feedMediaXs .feedH {
    padding-left: 10px;
    overflow: hidden;
    max-height: 54px;
    font-size:13px;
    line-height:1.384615385;
    display: block;
    color: #2d2d2d;
  }
  .feedMediaXs .feedMeta {
    padding-left: 10px;
    margin-top: 4px;
    margin-left:-3px;
    font-size:10px;
    line-height:1.5;
  }
  .txt {
    margin:10px 0 0 0;
    p {
      color:#808080;
    }
  }
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

