.deposits__view {
  margin-top: 50px;
  overflow: scroll;
}

.deposits__list {
  border: 1px solid #EEEEEE;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &__id {
    width: 6%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__name {
    width: 14%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__assesment_price {
    width: 16%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__user {
    width: 20%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__warehouse_id {
    width: 12%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__brand {
    width: 17%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__size {
    width: 15%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.deposits__new_link {
  margin-top: 20px;
  .new_link__btn {
    width: 280px;
    color: #ffffff ;
    display: block;
    border-radius: 4px;
    padding: 10px 35px;
    background-color: #2490D0;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
  }
}
