.products_details_main__right {
  float: right;
  width: 395px;
  height: 100%;
  &__coupon {
    margin: 0 auto;
    padding: 7px 0;
    background-color: #e73656;
    border: 1px solid #e73656;
    text-align: center;
    color: white;
    &__all {
      text-decoration: underline;
      margin-left: 5px;
    }
  }
  &__post_info {
    display: inline-block;
    margin: 10px auto;
    font-size: 12px;
    width: 100%;
    color: red;
    border-radius: 1px;
    border: 1px solid #e73656 ;
    padding: 6px 12px;
    &-first {
      padding: 0 0 10px 0;
      .info_strong {
        font-weight: bold;
      }
    }
  }
  &__post_date {
    width: 100%;
    margin-top: 5px;
    font-size: 12px;
    float: left;
    text-decoration: none;
    color: #007ebe;
    &:hover {
      text-decoration: underline;
    }
  }
  &__brands_shops {
    width: 100%;
    margin-top: 10px;
    float: left;
    .shops_data {
      list-style: none;
      .shops_name {
        color: #646464;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .brands_data {
      list-style: none;
      .brands_name {
        color: #646464;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &__value {
    width: 100%;
    clear: both;
    margin-bottom: 15px;
    &__name {
      padding-top: 12px;
      font-size: 18px;
    }
    &__review {
      color: #007ebe;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &__price {
      width: 100%;
      margin: 13px 0;
      &-discount {
        color: #808080;
        font-size: 14px;
      }
      &-data {
        font-size: 28px;
        color: #E73656;
        float: left;
      }
      &-tax {
        font-size: 12px;
        float: left;
        margin: 20px 0 0 8px;
        color: #E73656;
      }
      &-balloon {
        float: left;
        background: #efefef;
        position: relative;
        padding: 10px 10px 8px;
        margin: 0 -20px 0 20px;
        font-size: 11px;
        line-height: 1.454545454545455;
        color: #333333;
        &:after {
          right: 100%;
          top: 50%;
          border: solid transparent;
          content: "";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(240, 240, 240, 0);
          border-right-color: #efefef;
          border-width: 10px;
          margin-top: -10px;
        }
        .balloon-up {
          font-weight: bold;
          a {
            color:#333333;
            font-weight: normal;
          }
        }
        #payment_month,
        #payment_day {
          font-weight: bold;
        }
      }
    }
    &__information {
      width: 100%;
      &-ratio {
        font-size: 12px;
        color: white;
        background-color: #e73656;
        padding: 3px;
        border-radius: 1px;
        border: 1px solid #e73656;
        float: left;
      }
      &-explain {
        font-size: 15px;
        color: #E73656;
        margin-left: 8px;
        float: left;
        margin-top: 2px;
      }
    }
    &__bonus {
      width: 100%;
      margin-top: 10px;
      &-explain {
        color: #007ebe;
        .explain_strong {
          font-weight: bold;
        }
      }
      &-link {
        color: #007ebe;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__detail {
      clear: both;
      width: 100%;
      margin-top: 10px;
      li {
        list-style: none;
        margin-top: 5px;
      }
      .detail-trade_in {
        width: 100%;
        i {
          font-size: 20px;
          float: left;
          color: #2EFE9A;
        }
        &-explain {
          margin-left: 10px;
          float: left;
          .trade_in_strong {
            font-weight: bold;
          }
        }
        .trade_in-link {
          color: #007ebe;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .detail-point {
        width: 100%;
        i {
          font-size: 20px;
          float: left;
        }
        &-explain {
          margin-left: 10px;
          float: left;
        }
      }
      .detail-favorite {
        width: 100%;
        i {
          font-size: 20px;
          float: left;
        }
        &-explain {
          margin-left: 10px;
          float: left;
        }
      }
      .detail-return {
        margin-top: 15px;
        width: 100%;
        &-explain {
          float: left;
          span {
            color: red;
          }
        }
      }
    }
  }
  &__stock {
    width: 100%;
    border-top: 1px solid #808080;
    &__color {
      height: 72px;
      border-bottom: 1px solid #808080;
      &-image {
        padding-top: 10px;
        height: 100%;
        width: 40px;
        float: left;
        .image-color_name {
          font-size: 10px;
          color: #808080;
          text-align: center;
        }
      }
      &-size_s {
        width: 340px;
        height: 72px;
        float: right;
        border-bottom: 1px solid #dcdcdc;
        &-explain {
          padding-top: 10px;
          list-style: none;
          font-size: 14px;
        }
        &-supplement {
          width: 100%;
          list-style: none;
          i {
            font-size: 12px;
            color: blue;
            float: left;
          }
          .supplement-text {
            font-size: 10px;
            float: left;
            margin-left: 5px;
            color: #808080;
          }
        }
        &-carts_link {
          display: inline-block;
          padding: 7px 35px 7px;
          text-align: center;
          white-space: nowrap;
          width: auto;
          word-wrap: break-word;
          border-radius: 4px;
          background-color: #808080;
          float: left;
          margin: -15px 0 0 20px;
          .carts_link-btn {
            display: inline-block;
            float: left;
            i {
              padding-top: 2px;
              font-size: 18px;
              color: #EEEEEE;
              float: left;
              margin-right: 10px;
            }
            .g_btn {
              display: inline-block;
              margin: 0 auto;
              font-size: 15px;
              color: white;
              text-decoration: none;
              background-color: #808080;
              border: none;
            }
          }
        }
        .fa-heart-o {
          padding: 8px;
          font-size: 20px;
          float: right;
          margin-top: -15px;
          position: relative;
          border-radius: 50px;
          border: 1px solid #808080;
        }
        .pretty {
          font-size: 30px;
        }
      }
      &-size_m {
        width: 340px;
        height: 72px;
        float: right;
        border-bottom: 1px solid #dcdcdc;
        &-explain {
          padding-top: 10px;
          list-style: none;
          font-size: 14px;
        }
        &-supplement {
          width: 100%;
          list-style: none;
          i {
            font-size: 12px;
            color: blue;
            float: left;
          }
          .supplement-text {
            font-size: 10px;
            float: left;
            margin-left: 5px;
            color: #808080;
          }
        }
        &-carts_link {
          display: inline-block;
          padding: 7px 25px 7px;
          text-align: center;
          white-space: nowrap;
          width: auto;
          word-wrap: break-word;
          border-radius: 4px;
          background-color: #808080;
          float: left;
          margin: -15px 0 0 20px;
          .carts_link-btn {
            display: inline-block;
            float: left;
            i {
              padding-top: 2px;
              font-size: 18px;
              color: #EEEEEE;
              float: left;
              margin-right: 10px;
            }
            .g_btn {
              display: inline-block;
              margin: 0 auto;
              font-size: 15px;
              color: white;
              text-decoration: none;
              float: left;
            }
          }
        }
        .fa-heart-o {
          padding: 8px;
          font-size: 20px;
          float: right;
          margin-top: -15px;
          position: relative;
          border-radius: 50px;
          border: 1px solid #808080;
        }
      }
      &-size_l {
        width: 340px;
        height: 72px;
        float: right;
        border-bottom: 1px solid #dcdcdc;
        &-explain {
          padding-top: 10px;
          list-style: none;
          font-size: 14px;
        }
        &-supplement {
          width: 100%;
          list-style: none;
          i {
            font-size: 12px;
            color: blue;
            float: left;
          }
          .supplement-text {
            font-size: 10px;
            float: left;
            margin-left: 5px;
            color: #808080;
          }
        }
        &-carts_link {
          display: inline-block;
          padding: 7px 25px 7px;
          text-align: center;
          white-space: nowrap;
          width: auto;
          word-wrap: break-word;
          border-radius: 4px;
          background-color: #808080;
          float: left;
          margin: -15px 0 0 20px;
          .carts_link-btn {
            display: inline-block;
            float: left;
            i {
              padding-top: 2px;
              font-size: 18px;
              color: #EEEEEE;
              float: left;
              margin-right: 10px;
            }
            .g_btn {
              display: inline-block;
              margin: 0 auto;
              font-size: 15px;
              color: white;
              text-decoration: none;
              float: left;
            }
          }
        }
        .fa-heart-o {
          padding: 8px;
          font-size: 20px;
          float: right;
          margin-top: -15px;
          position: relative;
          border-radius: 50px;
          border: 1px solid #808080;
        }
      }
      &-size_xl {
        width: 340px;
        height: 72px;
        float: right;
        &-explain {
          padding-top: 10px;
          list-style: none;
          font-size: 14px;
        }
        &-supplement {
          width: 100%;
          list-style: none;
          i {
            font-size: 12px;
            color: blue;
            float: left;
          }
          .supplement-text {
            font-size: 10px;
            float: left;
            margin-left: 5px;
            color: #808080;
          }
        }
        &-carts_link {
          display: inline-block;
          padding: 7px 25px 7px;
          text-align: center;
          white-space: nowrap;
          width: auto;
          word-wrap: break-word;
          border-radius: 4px;
          background-color: #808080;
          float: left;
          margin: -15px 0 0 20px;
          .carts_link-btn {
            display: inline-block;
            float: left;
            i {
              padding-top: 2px;
              font-size: 18px;
              color: #EEEEEE;
              float: left;
              margin-right: 10px;
            }
            .g_btn {
              display: inline-block;
              margin: 0 auto;
              font-size: 15px;
              color: white;
              text-decoration: none;
              float: left;
            }
          }
        }
        .fa-heart-o {
          padding: 8px;
          font-size: 20px;
          float: right;
          margin-top: -15px;
          position: relative;
          border-radius: 50px;
          border: 1px solid #808080;
        }
      }
    }
  }
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
