<div class="product_contacts__view">
  <div class="product_contacts__view__header">
    <div class="product_contacts__view__header__zozo">
      ZOZOTOWN-CHAT-SPACE
    </div>
    <div class="product_contacts__view__header__icon">
      <i class="fa fa-user-circle-o fa-3x" aria-hidden="true"></i>
    </div>
  </div>
  <div class="product_contacts__view__contents">
    <div class="product_contacts__view__contents__name">
      <%= current_user.name %> 様
    </div>
    <div class="product_contacts__view__contents__message">
      文字制限を30文字でかけるよおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおお
    </div>
  </div>
  <div class="product_contacts__view__footer">
    Form_forを入れる
    <div class="product_contacts__view__footer__form">
    </div>
  <div class="product_contacts__view__footer__solved_btn">
    SOLVED!
  </div>
  </div>
</div>
