<div class="products_details_main__left">
<!-- 写真部分 -->
  <div class="products_details_main__left__photo">
    <div class="products_details_main__left__photo-main clearfix">
      <% @product_image.each do |image| %>
        <img src="<%= image.url %>" alt="#" class="main_image">
      <% end %>
    </div>
    <ul>
      <li id="btn_left"></li>
      <li id="btn_right"></li>
    </ul>
    <div class="products_details_main__left__photo-sub">
      <div class="products_details_main__left__photo-sub-line">
        <li><img src="http://img5.zozo.jp/goodsimages/663/28701663/28701663_32_D_125.jpg" class="sub-image"></li>
        <li><img src="http://img5.zozo.jp/goodsimages/663/28701663/28701663_32_D_125.jpg" class="sub-image"></li>
        <li><img src="http://img5.zozo.jp/goodsimages/663/28701663/28701663_32_D_125.jpg" class="sub-image"></li>
        <li><img src="http://img5.zozo.jp/goodsimages/663/28701663/28701663_32_D_125.jpg" class="sub-image"></li>
        <li><img src="http://img5.zozo.jp/goodsimages/663/28701663/28701663_32_D_125.jpg" class="sub-image"></li>
        <li><img src="http://img5.zozo.jp/goodsimages/663/28701663/28701663_32_D_125.jpg" class="sub-image"></li>
        <li><img src="http://img5.zozo.jp/goodsimages/663/28701663/28701663_32_D_125.jpg" class="sub-image"></li>
        <li><img src="http://img5.zozo.jp/goodsimages/663/28701663/28701663_32_D_125.jpg" class="sub-image"></li>
        <li><img src="http://img5.zozo.jp/goodsimages/663/28701663/28701663_32_D_125.jpg" class="sub-image"></li>
      </div>
    </div>
  </div>
  <div class="products_details_main__left__staff_review clearfix">
    <div class="products_details_main__left__staff_review__title">
      <i class="fa fa-book"></i>
      <h3>ZOZOスタッフ着用レビュー</h3>
    </div>
  </div>
  <div class="products_details_main__left__cordinate clearfix">
    <div class="products_details_main__left__cordinate__title">
      ショップスタッフ・ユーザーのコーディネート
    </div>
    <div class="products_details_main__left__cordinate__snaps">
      <img src="http://img5.zozo.jp/goodsimages/416/30050416/30050416_26_D_125.jpg" class="snaps-image">
      <div class="products_details_main__left__cordinate__snaps__model_data">
        Polo Ralph Lauren ChildrenWear
      </div>
    </div>
    <div class="products_details_main__left__cordinate__snaps">
      <img src="http://img5.zozo.jp/goodsimages/416/30050416/30050416_26_D_125.jpg" class="snaps-image">
      <div class="products_details_main__left__cordinate__snaps__model_data">
        Polo Ralph Lauren ChildrenWear
      </div>
    </div>
    <div class="products_details_main__left__cordinate__snaps">
      <img src="http://img5.zozo.jp/goodsimages/416/30050416/30050416_26_D_125.jpg" class="snaps-image">
      <div class="products_details_main__left__cordinate__snaps__model_data">
        Polo Ralph Lauren ChildrenWear
      </div>
    </div>
    <div class="products_details_main__left__cordinate__snaps">
      <img src="http://img5.zozo.jp/goodsimages/416/30050416/30050416_26_D_125.jpg" class="snaps-image">
      <div class="products_details_main__left__cordinate__snaps__model_data">
        Polo Ralph Lauren ChildrenWear
      </div>
    </div>
  </div>
  <div class="products_details_main__left__relation clearfix">
    <div class="products_details_main__left__relation__title">
      関連アイテム
    </div>
    <div class="products_details_main__left__relation__items">
      <img src="http://img5.zozo.jp/goodsimages/416/30050416/30050416_26_D_125.jpg" class="items-image">
      <div class="products_details_main__left__relation__items__brands">
        Polo Ralph Lauren ChildrenWear
      </div>
      <div class="products_details_main__left__relation__items__price">
        <div class="products_details_main__left__relation__items__price-value">
          ¥9,612
        </div>
        <div class="products_details_main__left__relation__items__price-tax">
          税込
        </div>
      </div>
    </div>
    <div class="products_details_main__left__relation__items">
      <img src="http://img5.zozo.jp/goodsimages/416/30050416/30050416_26_D_125.jpg" class="items-image">
      <div class="products_details_main__left__relation__items__brands">
        Polo Ralph Lauren ChildrenWear
      </div>
      <div class="products_details_main__left__relation__items__price">
        <div class="products_details_main__left__relation__items__price-value">
          ¥9,612
        </div>
        <div class="products_details_main__left__relation__items__price-tax">
          税込
        </div>
      </div>
    </div>
    <div class="products_details_main__left__relation__items">
      <img src="http://img5.zozo.jp/goodsimages/416/30050416/30050416_26_D_125.jpg" class="items-image">
      <div class="products_details_main__left__relation__items__brands">
        Polo Ralph Lauren ChildrenWear
      </div>
      <div class="products_details_main__left__relation__items__price">
        <div class="products_details_main__left__relation__items__price-value">
          ¥9,612
        </div>
        <div class="products_details_main__left__relation__items__price-tax">
          税込
        </div>
      </div>
    </div>
    <div class="products_details_main__left__relation__items">
      <img src="http://img5.zozo.jp/goodsimages/416/30050416/30050416_26_D_125.jpg" class="items-image">
      <div class="products_details_main__left__relation__items__brands">
        Polo Ralph Lauren ChildrenWear
      </div>
      <div class="products_details_main__left__relation__items__price">
        <div class="products_details_main__left__relation__items__price-value">
          ¥9,612
        </div>
        <div class="products_details_main__left__relation__items__price-tax">
          税込
        </div>
      </div>
    </div>
  </div>
</div>

