<div class="products_details_main__right">
    <div class="products_details_main__right__coupon">
      ¥1,500クーポン対象商品
      <span class="products_details_main__right__coupon__all">すべての対象商品</span>
    </div>
    <div class="products_details_main__right__innner">
      <div class="products_details_main__right__innner__ships">
        <div class="products_details_main__right__innner__ships__wrapper">
          <span class="products_details_main__right__innner__ships__wrapper__info">
            この商品は、即日配送なら
            <span class="info_strong">最短明日の午前中</span>
            にお届けできます
          </span>
            <a href="https://www.google.co.jp/" class="products_details_main__right__innner__ships__wrapper__date">お届け日指定について</a>
          </div>
        </div>
    </div class="products_details_main__right__goods_info">
    </div>
