<div class="products_details_main__left">
<!-- 写真部分 -->
  <div class="products_details_main__left__photo">
    <ul>
      <li class="btn_left"></li>
      <div class=photo_main>
        <img src="http://illustrain.com/img/work/2016/illustrain02-penguin05.png" alt="#">
      </div>
      <li class="btn_right"></li>
    </ul>
    <div class=photo_sub></div>
  </div>
<!-- ショップスタッフ・ユーザーのコーディネート部分 -->
  <div class="products_details_main__left__cordinate"></div>
<!-- 関連アイテム部分 -->
  <div class="products_details_main__left__item"></div>
<!-- 関連ショップニュース部分 -->
  <div class="products_details_main__left__shopnews"></div>
</div>
