<!-- ショップ名ロゴ -->
<div></div>
<!-- パンくずリスト -->
<div></div>
<!-- 以下メインボディ -->
<div class="products__details__main">
  <!-- 大川作成 -->
  <div class="products__details__left"></div>
  <!-- 芝田さん作成 -->
  <div class="products__details__right"></div>
</div>
