 <div class="contentHeader clearfix">
  <div class="content-inner">
    <ul>
      <li class="taball">
        <a href="/constructions">すべて</a>
      </li>
      <li class="tabmen">
        <a href="/constructions">メンズ</a>
      </li>
      <li class="tabladies">
        <a href="/constructions" class="bigbox">レディース</a>
      </li>
      <li class="tabkids">
        <a href="/constructions">キッズ</a>
      </li>
    </ul>
  </div>
</div>
