 <div class="contentHeader clearfix">
  <div class="content-inner">
    <ul>
      <li class="taball">
        <a href="#">すべて</a>
      </li>
      <li class="tabmen">
        <a href="#">メンズ</a>
      </li>
      <li class="tabladies">
        <a href="#" class="bigbox">レディース</a>
      </li>
      <li class="tabkids">
        <a href="#">キッズ</a>
      </li>
    </ul>
  </div>
</div>
