<div class="footer">
      <div class="footer-upper clearfix">
        <div class="box" id="service">
          <ul>
            <li>
              <a href="#">ZOZOTOWN</a>
            </li>
            <li>
              <a href="#">ZOZOUSED</a>
            </li>
            <li>
              <a href="#">WEAR(ウェア)</a>
            </li>
          </ul>
        </div>
        <div class="box" id="content">
          <ul>
            <li>
              <a href="#">カテゴリー一覧</a>
            </li>
            <li>
              <a href="#">ブランド一覧</a>
            </li>
            <li>
              <a href="#">ショップ一覧</a>
            </li>
            <li>
              <a href="#">ランキング一覧</a>
            </li>
            <li>
              <a href="#">こだわり検索</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="#">ショップニュース一覧</a>
            </li>
            <li>
              <a href="#">コーディネート一覧</a>
            </li>
            <li>
              <a href="#">ファッションまとめ一覧</a>
            </li>
            <li>
              <a href="#">注目キーワード一覧</a>
            </li>
          </ul>
        </div>
        <div class="box" id="card">
          <ul>
            <li>
              <a href="#">ZOZOCARD</a>
            </li>
            <li>
              <a href="#">メールマガジン購読</a>
            </li>
          </ul>
        </div>
        <div class="box" id="help">
          <ul>
            <li>
              <a href="#">ヘルプ</a>
            </li>
            <li>
              <a href="#">初めての方へ</a>
            </li>
            <li>
              <a href="#">サイトマップ</a>
            </li>
          </ul>
        </div>
        <div class="box" id="app">
          <ul>
            <li>
              <a href="#">iPhoneアプリ</a>
            </li>
            <li>
              <a href="#">Androidアプリ</a>
            </li>
            <li>
              <a class="icon fa-twitter" href="#">Twitter</a>
            </li>
            <li>
              <a class="icon fa-facebook-official" href="#">Facebook</a>
            </li>
            <li>
              <a class="icon fa-instagram" href="#">Instagram</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-bottom">
        <ul>
          <li>
            <a class="icon" href="#">コーポレートサイト
              <span><i class="icon fa fa-check-square-o"></i></span>
            </a>
          </li>
          <li>
            <a class="icon" href="#">会社概要
              <span><i class="icon fa fa-check-square-o"></i></span>
            </a>
          </li>
          <li>
            <a class="icon" href="#">IR情報
              <span><i class="icon fa fa-check-square-o"></i></span>
            </a>
          </li>
          <li>
            <a class="icon" href="#">採用情報
              <span><i class="icon fa fa-check-square-o"></i></span>
            </a>
          </li>
          <li>
            <a href="#">利用規約</a>
          </li>
          <li>
            <a href="#">個人情報保護方針</a>
          </li>
          <li>
            <a href="#">特定商取引法に基づく表示・古物営業法に基づく表示</a>
          </li>
        </ul>
        <div class="copyright">
          <p id="copy">COPYRIGHT © START TODAY CO.,LTD. ALL RIGHTS RESERVED.</p>
          <p>サイト内の文章、画像などの著作物は株式会社スタートトゥデイに属します。複製、無断転載を禁止します。</p>
        </div>
      </div>
    </div>
